

.arrowWrap{
    display: flex;
}
.topServiceContent, .topServiceRight{
    width:50%;
}
.topServiceContent{
    width:400px;
    height: 500px;
    border-radius: 40%;
    overflow: hidden;
}
.topServiceContent img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}