.places{
    width:1440px;
    margin: 0 auto;
    overflow: hidden;
}

.places h2{
    font-family: Poppins;
    font-size:36px;
    font-weight: 600;
    line-height: 54px;
}
.bestPlaces{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap:10px;
}
.placesPrice img{
    width:100%;
}
.placesPrice{
height: 54px;
background: #E5F8FF;
border-radius: 0px 0px 5px 5px;
display: flex;
justify-content: space-between;
align-items: center;
padding:0px 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
}
.leftContent{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
align-items: center;
text-align: justify;
margin-bottom:30px;
}
.tourImage{
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width:1024px){
    .leftContent p{
        margin-top:20px;
    }
    .places{
        width:100% !important;
        overflow: hidden;
    }
    .places img{
        width:100%;
    }
    .bestPlaces{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}


@media only screen and (max-width:1024px){
    .leftContent p {
        padding: 17px;
    }
}