.header{
width: 1440px;
margin:0 auto;
height:90px;
background: #E6F8FF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.logo{
position: absolute;
width: 159px;
height: 56px;
left: 166px;
top: 82px;
}
.headerContent{
    width:1400px;
    margin: 0 auto;
    position:absolute;
    top:5px;
}
.header h5{
position: absolute;
width: 93px;
height: 12px;
left: 386px;
top: 105px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: #092E3D;
}
.header input{
box-sizing: border-box;
position: absolute;
width: 430px;
height: 43px;
left: -100px;
top: 89px;
background: #FFFFFF;
border: 1px solid #4AB449;
border-radius: 5px;
padding-left:10px;
}
.searchIcon{
position: absolute;
right:-1030px;
z-index: 99;
top: 100px;
bottom: 100px;
color: rgba(9, 46, 61, 0.5);
width:102px;
height:30px;
}
.header button{
position: absolute;
width: 102px;
height: 46px;
left: 1060px;
top: 88px;
color:#fff;
background: #4AB449;
border-radius: 5px;
}
.header .buttonTow{
 position: absolute;
width: 102px;
height: 46px;
left: 1173px;
top: 88px;
background: #19ABE3;
border-radius: 5px;
color:#fff;
text-align:center;
justify-content: center;
}

/* @media only screen and (max-width:768px){
    .header{
        width: 100%;
    }
    .headerContent{
        display: block !important;
       width:100%;
    }
    .logo{
        position: absolute;
        width: 159px;
        height: 56px;
        left: 15px;
        }
        .header h5{
            left: 190px;
            }
            .header input{
                width: 100%;
                left: 0px;
                }
    
} */