.travel{
width: 1440px;
height: 205px;
border-radius: 5px;
margin:0 auto;
overflow: hidden;

}
.travel img{
    width:100%;
}

@media only screen and (max-width:768px){
    .travel{
        width:100%;
    }
    .travel img{
        max-width:100%
    }
}
@media only screen and (max-width:768px){
    .travel img {
        height: 268px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}
