.footerWrap{
    width:1300px;
    margin:0 auto;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding-left:5px;
    height: 50px;
    border-radius: 5px;
}
.contactUs{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.contactUs div{
    margin-right:20px;
}
.footerTop{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;

}
.emalIcon{
    font-size: 25px !important;
    color: #FF6700;
}
.contactBtn{
    display: flex;
    align-items: center;
    background: #F87015;
    width: 200px;
    height: 50px;
    padding-left: 5px;
    color: white;
    border: 1px solid #fff;
    margin-left:10px;
    border-radius: 5px;
}
.contact input:focus{
    outline: none;

}
.termCondition p{
    margin-right:20px;
    transition:all .5s ease-in-out;
    cursor: pointer;
}
.termCondition p:hover{
   color:#F87015;
}
.contactUs p{
    margin-bottom:10px;
    transition:all .5s ease-in-out;
}
.contactUs p:hover{
    border-bottom:1px solid red;
}
.copyRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (max-width:1024px){
    .footerWrap{
        width: 100%;
        padding: 0px 20px;
    
    }
}


@media only screen and (max-width:768px){
    .footerTop{
        display: flex;
        justify-content:center
    
    }
}

@media only screen and (max-width:500px){
    .contact {
        margin-top:20px;
        width: 100%;
    }
    .contactBtn {
        width: 100%;
         margin-left: 0px; 
        margin-top: 5px;
    }
    .copyRight p{
        font-size: 14px;
    }
    .copyRight {
        display: block;
    }
}
