.portFolioExample{
    width:1300px;
    margin:150px auto;
    padding:0 35px;
}
.countDownWrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-bottom: 120px;
    gap: 0px;
    width: 1000px;
    margin: 0 auto;
}
.countdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: all .9s cubic-bezier(0.54, 0.49, 0.83, 0.76);
    
}
.countdown:hover{
    background:#951FE8;
    color:white;
}
.countdown:hover .singleCountDown{
    color:white !important;
}
.countdown:nth-child(1), .countdown:nth-child(3){
position: relative;
top:-50px;
}
.countdown:nth-child(3){
    position: relative;
}
.singleCountDown{
    display: flex;
    color: #951FE8;
    font-size: 75px;
    font-weight: bold;
    transition: all .9s cubic-bezier(0.54, 0.49, 0.83, 0.76);

}

@media only screen and (max-width:1024px){
    .portFolioExample {
        width: 100%;
        padding-left: 15px;
    }
    .countDownWrap {
        gap: 1px;
        padding: 0 5px;
    }
    .countdown {
        width: 220px;
    }
    .singleCountDown {
        font-size: 80px;
    }
}
@media only screen and (max-width:768px){
    .countDownWrap {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    
    .singleCountDown {
        display: flex;
        color: #951FE8;
        font-size: 70px;
        font-weight: bold;
    }
    .portFolioExample{
      margin-top:100px;
      padding:0 10px;

    }
}
@media only screen and (max-width:500px){
    .countDownWrap {
        grid-template-columns: repeat(2, 1fr);
        gap:20px;
    }
    .countdown {
        width: 170px;
    }
    .singleCountDown {
        font-size: 50px;
    }
    .portFolioExample {
        width: 100%;
        padding-left: 15px;
    }
}
@media only screen and (max-width:400px){
    .portFolioExample {
        padding-left: 3px;
    }
    .countdown {
        width: 140px;
    }
    .singleCountDown {
        font-size: 35px;
    }
}